h1 {
    font-size: 8.5rem;
    color: #332513;
}



.styled-text{
    font-family: 'Courgette', cursive;
    font-size: 2.5rem;
}

h3 {
    font-size:  4rem !important;
    
}

.link-unstyled {
    text-decoration: none;
    color: #332513;
}


.hero-img {
    background: url(../images/wall-g8b4e0dddc_1920.jpg) center center no-repeat;
    background-size: cover;
    //height: 100vh;
}

.bg-color {
    background-color: #C8AE7D;
}

.styled-text-p {
    font-family: 'Courgette', cursive;
    font-size: 1.8rem;
    line-height: 1.9;
}